html,body{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100vw;
    background: blue;
    overflow: hidden;
    background: #C33764;  
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url(https://images.alphacoders.com/800/800140.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.nav {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.nav li{
    display: inline-block;
}    

.nav a{
    text-decoration: none;
    padding: 18px 20px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    display: block;
}

.nav a:hover{
    outline: 5px solid whitesmoke;
    color: goldenrod;
}


.article{
    position: absolute;
    left: 0;
    right: 0;
    top: 34%;
    color: whitesmoke;
    margin: auto;
    text-align: center;
    font-size: 20px;
    text-shadow:2px 2px 6px black;
}

.article a{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    background-color: black;
    padding: 20px;
    border-radius: 10px 35px 5px 5px;
    outline: 1px solid whitesmoke;
    background: #C33764;  
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url(https://images.alphacoders.com/800/800140.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.article a:hover{
    background: #C33764;  
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url(https://images.alphacoders.com/800/800140.jpg);
} 

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    margin: auto;
    text-align: center;
    color: whitesmoke;
    padding: 15px;
    height: 2em;
    font-size: 15px;
    font-weight: bold;
}




